# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDEs
.idea/
.vscode/
.DS_Store

# Project specific
# dorm-data.json # Uncomment if you want to ignore the data file
